<div id="wrapper" ng-controller="homeController"  >
    <!-- Top Card - Input form panel -->
    <div class="card ">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills float-xs-left">
                <li class="nav-item">
                    <a class="nav-link active" ng-click="chargeView()">Charging</a>
                </li>
                <!--<li class="nav-item">-->
                <!--    <a class="nav-link disabled" href="#">Discharging</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--    <a class="nav-link disabled" href="#">Cycle</a>-->
                <!--</li>-->
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Parameters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Database</a>
                </li>
            </ul>
        </div>
        <div class="card-block ">
            <h4 class="card-title">{{ pageHeader }}</h4>
            <p class="card-text"> {{ supportingTextHeader }}</p>
            <form class="form form-inline">
                <div class="row">
                    <div class="col-lg-3">
                        <div class=" form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Name</span>
                                <input type="text" class="form-control" placeholder="1C1800" ng-model="simulation.current">
                                <!--<span class="input-group-addon">C</span>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class=" form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Max. Current</span>
                                <input type="text" class="form-control" placeholder="1" ng-model="simulation.current">
                                <span class="input-group-addon">C</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Charging Time</span>
                                <input type="text" class="form-control" placeholder="1800" ng-model="simulation.time">
                                <span class="input-group-addon">sec</span>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-lg-3">-->
                    <!--    <div class="form-group">-->
                    <!--        <div class="input-group">-->
                    <!--            <span class="input-group-addon">Battery Capacity</span>-->
                    <!--            <input type="text" class="form-control" placeholder="100%" ng-model="simulation.capacity">-->
                    <!--            <span class="input-group-addon">%</span>-->
                    <!--        </div>-->
                    <!--    </div>-->
                    <!--</div>-->
                    <div class="col-lg-3">
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success" ng-click="this[btn.method](simulation)">{{ actionText }}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Graph Card -->
    <div class="card card-block text-xs-center card-outline-primary " ng-show="showGraphCard">
        <div class="row" ng-show="showCharts">
            <div class="col-lg-12">
                <p ng-show="showResultStatus" class="alert-success">{{ resultStatus }}</p>
                <div class="container">
                    <div class="row" id="row-top">
                        <div class="col-lg-6" id="voltage">
                            <canvas id="plot-voltage"></canvas>
                        </div>
                        <div class="col-lg-6">
                            <div id="gauge" style="margins: auto"></div>
                        </div>
                    </div>
                    <div class="row" id="row-bottom">
                        <div class="col-lg-6" id="current">
                            <canvas id="plot-current"></canvas>
                        </div>
                        <div class="col-lg-6" id="remaining-life">
                            <span>
                                <h3>{{ remainingLife }} cycles</h3>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
