<div id="wrapper" ng-controller="homeController"  >
    <!-- Top Card - Input form panel -->
    <div class="card ">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills float-xs-left">
                <li class="nav-item">
                    <a class="nav-link active" ng-click="chargeView()">Charging</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Discharging</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Cycle</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Parameters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Database</a>
                </li>
            </ul>
        </div>
        <div class="card-block ">
            <h4 class="card-title">{{ pageHeader }}</h4>
            <p class="card-text"> {{ supportingTextHeader }}</p>
            <form class="form ">
                <div class="row form-group">
                    <div class=" form-group">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">Current</span>
                                <input type="text" class="form-control" placeholder="1" ng-model="simulation.current">
                                <span class="input-group-addon">C</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class=" col-xs-12 col-sm-6 col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">Time</span>
                                <input type="text" class="form-control" placeholder="1800" ng-model="simulation.time">
                                <span class="input-group-addon">sec</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class=" col-sm-6">
                        <button type="submit" class="btn btn-primary" ng-click="this[btn.method](simulation)">{{ actionText }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Graph Card -->
    <div class="card card-block text-xs-center" ng-show="showGraphCard">
        <div class="row" ng-show="showGraphButtons">
            <div class="col-lg-12">
                <p ng-show="showResultStatus" class="alert-success">{{ resultStatus }}</p>
                <div class="btn-group  " role="group" aria-label="...">

                    <button type="button" class="btn btn-secondary" ng-click="plotVoltage()">Voltage</button>


                    <button type="button" class="btn btn-secondary" ng-click="plotCurrent()">Current</button>


                    <button type="button" class="btn btn-secondary" ng-click="plotSoC()">SoC</button>


                    <button type="button" class="btn btn-secondary" ng-click="plotFade()">Fade</button>


                    <button type="button" class="btn btn-secondary" ng-click="plotTemperature()">Temperature</button>

                </div>
            </div>
        </div>
        <div class="card-block " style="text-align: center" id="graphDiv" ng-show="showPlot">


                <plotly plotly-data="graphData" plotly-layout="layout" plotly-options="options" plotly-events="plotlyEvents" ng-show="showGraph"></plotly>


            <!-- /.col-lg-12 -->
        </div>
    </div>

</div>



<!--
<div id="wrapper" ng-controller="homeController">
    &lt;!&ndash; Navigation &ndash;&gt;
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">BII BMS Demo</a>
            <div>

            </div>
        </div>
        &lt;!&ndash; /.navbar-header &ndash;&gt;
        &lt;!&ndash; /.navbar-top-links &ndash;&gt;
        <ul class="nav navbar-top-links navbar-right" ng-controller="logoutController">
            <li>
                <a ng-click='logout()'>Logout</a>
            </li>

        </ul>

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a ng-click="chargeView()"><i class="fa fa-plug fa-fw"></i> Charge </a>
                    </li>
                    <li>
                        <a ng-click="dischargeView()"><i class="fa fa-bolt fa-fw"></i> Discharge </a>
                    </li>
                    <li>
                        <a ng-click="cycleView()"><i class="fa fa-repeat fa-fw"></i> Cycle </a>
                    </li>
                    <li>
                        <a ng-click="parametersView()"><i class="fa fa-sliders fa-fw"></i> Parameters </a>

                    </li>

                </ul>
            </div>
            &lt;!&ndash; /.sidebar-collapse &ndash;&gt;
        </div>
        &lt;!&ndash; /.navbar-static-side &ndash;&gt;
    </nav>
    <div id="page-wrapper">

        <div class="card card-block">
            <h4 class="card-title">{{ pageHeader }}</h4>
            <form>
            <div class="col-lg-4 form-group" ng-show="showCurrent">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Current" aria-describedby="basic-addon2" ng-model="simulation.current">
                    <span class="input-group-addon" id="current_span1">Current (C)</span>
                </div>
            </div>
            <div class="col-lg-4 form-group" ng-show="showTime">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Time" aria-describedby="basic-addon2" ng-model="simulation.time">
                    <span class="input-group-addon" id="time_span1">Time (s)</span>
                </div>
            </div>
            <div class="col-lg-4 form-group" ng-show="showCycle">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Cycle Count" aria-describedby="basic-addon2" ng-model="simulation.cyclecount">
                    <span class="input-group-addon" id="cycle_span"># Cycle</span>
                </div>
            </div>

            <button type="button" class="btn btn-primary btn-lg " ng-click="this[btn.method](simulation)">{{ actionText }}</button>
            <button type="button" class="btn btn-default btn-lg ">Reset</button>
            </form>
        </div>
        <div class="card card-block" ng-ng-show="showGraphCard">
            <div class="row" ng-show="showGraphButtons">
                <div class="col-lg-12">
                    <div ng-show="showResultStatus" class="alert alert-success">{{ resultStatus }}</div>
                    <div class="btn-group btn-group-lg " role="group" aria-label="...">

                        <button type="button" class="btn btn-secondary" ng-click="plotVoltage()">Voltage</button>


                        <button type="button" class="btn btn-secondary" ng-click="plotCurrent()">Current</button>


                        <button type="button" class="btn btn-secondary" ng-click="plotSoC()">SoC</button>


                        <button type="button" class="btn btn-secondary" ng-click="plotFade()">Fade</button>


                        <button type="button" class="btn btn-secondary" ng-click="plotTemperature()">Temperature</button>

                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-lg-12">

                    <plotly plotly-data="graphData" plotly-layout="layout" plotly-options="options" plotly-events="plotlyEvents" ng-show="showGraph"></plotly>
                </div>

                &lt;!&ndash; /.col-lg-12 &ndash;&gt;
            </div>
        </div>
        &lt;!&ndash;<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ pageHeader }}</h1>
            </div>

            &lt;!&ndash; /.col-lg-12 &ndash;&gt;
        </div>
        &lt;!&ndash; /.row &ndash;&gt;
        <div class="row">
            <div class="col-lg-4" ng-show="showCurrent">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Current" aria-describedby="basic-addon2" ng-model="simulation.current">
                    <span class="input-group-addon" id="current_span">Current</span>
                </div>
            </div>
            <div class="col-lg-4" ng-show="showTime">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Time" aria-describedby="basic-addon2" ng-model="simulation.time">
                    <span class="input-group-addon" id="time_span">Time</span>
                </div>
            </div>
            <div class="col-lg-4" ng-show="showCycle">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Cycle Count" aria-describedby="basic-addon2" ng-model="simulation.cyclecount">
                    <span class="input-group-addon" id="cycle_span"># Cycle</span>
                </div>
            </div>&ndash;&gt;

            &lt;!&ndash; /.col-lg-12 &ndash;&gt;
        </div>
        &lt;!&ndash;<div class="row" ng-show="showFormButtons" style="margin-top:20px;">
            <div class="col-lg-4">
                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="this[btn.method](simulation)">{{ actionText }}</button>

            </div>
            <div class="col-lg-4">
                <button type="button" class="btn btn-default btn-lg btn-block">Reset</button>

            </div>

            &lt;!&ndash; /.col-lg-12 &ndash;&gt;
        </div>&ndash;&gt;

        &lt;!&ndash; Single button &ndash;&gt;
        &lt;!&ndash;<div class="row" ng-show="showGraphButtons">
            <div class="col-lg-6">
                <div class="btn-group ">
                    <button type="button" class="btn btn-default dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Graph Type <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a ng-click="plotVoltage()">Voltage</a></li>
                        <li><a ng-click="plotCurrent()">Current</a></li>
                        <li><a ng-click="plotSoC()">SoC</a></li>
                        <li><a ng-click="plotFade()">Fade</a></li>
                        <li><a ng-click="plotTemperature()">Temperature</a></li>
                    </ul>
                </div>
            </div>
        </div>&ndash;&gt;



    </div>
    &lt;!&ndash; /#page-wrapper &ndash;&gt;
</div>
&lt;!&ndash; /#wrapper &ndash;&gt;
-->
